/* You can add global styles to this file, and also import other style files */
:root {
    --main-black: rgb(47, 50, 58);
}
body {
    border: 0;
    margin: 0;
    background-color: var(--main-black);
}
